
body
{
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
}

.button{
    cursor: pointer;
    border: 2px solid #30BE76;
    border-radius: 8px;
    background-color: #30BE76;
    width: 197px;
    height: 50px;
    font-weight: 500;
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0px 6px rgba(51, 125, 59, 0.03);
}
/** 
Header 
**/ 

header {
    width: 100vw;
    height: 106px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 6px 10px #efefef;
    background-color: white;
}

.logo_img
{
    width: 50px;
    height: 50px;
}

.name_logo
{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #000000;
}



.my_plants
{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    color: white;
}

.second_button
{
    cursor: pointer;
    border: 2px solid #30BE76;
    border-radius: 8px;
    width: 197px;
    height: 50px;
    font-weight: 500;
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0px 6px rgba(51, 125, 59, 0.03);
}

.add_plant
{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #30BE76;
    text-decoration: none;
}



/** 
Search
**/ 

.dispResearch
{
    padding-top: 100px;
    padding-left: 140px;
    display:flex;
    flex-wrap: wrap;
    background-color: #fafafa;
}

.plantsText
{
    margin: 0px 20px;
    width: 200px ;
    height: 370px;
    font-family: 'Rubik', sans-serif;
}

.plant_name
{
    margin-top: 20px;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}

.plant_image_home
{
    width: 200px;
    height: 200px;
}

.plant_link
{
    color: #30BE76;
    border : 2px solid #30BE76;
    border-radius: 4px;
    padding: 5px 8px 7px 10px;
    text-decoration: none;
}

.plant_link img
{
    
}

.add_plant
{
    margin : 5px 8px 7px 30px;
}