/**
Login
**/
.login_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

input{
    width: 250px;
    height: 20px;
    border: 0px;
    border-bottom: 1px solid #A8A8A8;
    background: #FAFAFA;
    outline: none;
}

.login_bg
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('images/nature.png');
    background-size: cover;
    opacity: 0.45;
    z-index: -1;
}

.login_container
{
    width: 910px;
    height: 570px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FAFAFA;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.login_container .login_logo img
{
    height: 233px;
    width: 233px;
}

.login_container .login_logo_text
{
    margin-top: -28px;

}

.login_container .login_space h1
{
    font-size: 24px;
    font-weight: 500;
}

.login_container .login_space .login_subtext
{
    font-size: 13px;
    color: #A8A8A8;
    font-weight: normal;
    margin-top: -6px;
}

.login_container .login_space form .field label
{
    font-size: 14px;
    font-weight: normal;
    margin-top: 38px;
}

.login_container .login_space form .field .submit_button
{
    height: 50px;
    width: 300px;
    background: #30BE76;
    box-shadow: 0px 6px 20px rgba(51, 125, 59, 0.25);
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 58px;
    cursor: pointer;
}

.login_container .login_space .new
{
    text-align: center;
}

.login_container .login_space .new .login_subtext
{
    padding-top: 25px;
}

.login_container .login_space .new a
{
    color: #30BE76;
    font-size: 13px;
    text-decoration: none;
}