body
{
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/** 
Header 
**/ 

header
{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 6px 10px #efefef;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
}

.log_and_name
{
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.logo_img
{
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.name_logo
{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    color: #000000;
    margin-top: 21px;
    text-decoration: none;
}

.header_search
{
    margin: 0 auto;
    margin-top: 31px;
}

.search_bar_header
{
    border: none;
    border-bottom : 1px solid #A8A8A8;
    width: 380px;
    height: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    background-image: url('images/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 30px;
}

.buttons_icons
{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.button
{
    margin: auto 10px;
}

div.button .my_plant
{
    cursor: pointer;
    border: 2px solid #30BE76;
    border-radius: 8px;
    background-color: #30BE76;
    width: 120px;
    height: 30px;
    font-weight: 400;
    color: white;
    text-align: center;
    box-shadow: 0px 6px rgba(51, 125, 59, 0.03);
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

div.button .my_plant:hover
{
    background-color: none;
}

div.button .add_plant
{
    cursor: pointer;
    border: 2px solid #30BE76;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    font-weight: 400;
    color: #30BE76;
    text-align: center;
    box-shadow: 0px 6px rgba(51, 125, 59, 0.03);
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.log_out_img
{
    margin: auto; 
    height: 30px;  
}


/** 
Search
**/ 

h2.not_found
{
    width: 100%;
    text-align: center;
}

.form_search_center
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search_bar_main
{
    border: none;
    border-bottom : 1px solid #A8A8A8;
    width: 400px;
    height: 25px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-image: url('images/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: 30px;
    background-color: #FAFAFA;
}

.dispResearch
{
    padding: 100px 140px 0 140px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plantsText
{
    margin: 0px 20px;
    width: 200px ;
    height: 370px;
    font-family: 'Rubik', sans-serif;
}

.plant_name
{
    margin-top: 20px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}

.plant_image_home
{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.plant_link
{
    color: #30BE76;
    border : 2px solid #30BE76;
    border-radius: 4px;
    padding: 5px 8px 7px 10px;
    text-decoration: none;
}

.add_plant
{
    margin : 5px 8px 7px 30px;
}

/**
Login & Signup
**/

.login_page
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login_page input
{
    width: 250px;
    height: 20px;
    border: 0px;
    border-bottom: 1px solid #A8A8A8;
    background: #FAFAFA;
    outline: none;
}

.login_bg
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('images/nature.png');
    background-size: cover;
    opacity: 0.45;
    z-index: -1;
}

.login_container
{
    width: 910px;
    height: 570px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FAFAFA;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.login_container .login_logo img
{
    height: 233px;
    width: 233px;
}

.login_container .login_logo_text
{
    margin-top: -28px;

}

.login_container .login_space h1
{
    font-size: 24px;
    font-weight: 500;
}

.login_container .login_space .login_subtext
{
    font-size: 13px;
    color: #A8A8A8;
    font-weight: normal;
    margin-top: -6px;
}

.login_container .login_space form .field label
{
    font-size: 14px;
    font-weight: normal;
    margin-top: 38px;
}

.login_container .login_space form .field .submit_button
{
    height: 50px;
    width: 300px;
    background: #30BE76;
    box-shadow: 0px 6px 20px rgba(51, 125, 59, 0.25);
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 58px;
    cursor: pointer;
}

.login_container .login_space .new
{
    text-align: center;
}

.login_container .login_space .new .login_subtext
{
    padding-top: 25px;
}

.login_container .login_space .new a
{
    color: #30BE76;
    font-size: 13px;
    text-decoration: none;
}

/**
Login & Signup Errors
**/

.message
{
    margin-top: 3px;
    font-size: 13px;
    font-weight: normal;
}

.message.error
{
    color: #FF0000;
}


.message.error img
{
    padding-left: 30px;
    width: 18px;
}

.message.success
{
    color: green;
}

/**
Login & Signup Errors
**/

.content_home
{
    background-image: url("images/plantbg.png");
    background-color: #FAFAFA;
    background-repeat: no-repeat;
}

.content_home .container
{
    margin: 0px 10%;
}

.content_home h1
{
    font-weight: 500;
    font-size: 72px;
    padding-top: 10%;
}

.content_home p.desc_main
{
    width: 686px;
    height: 124px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.content_home p.title
{
    font-weight: 500;
    font-size: 18px;
    width: 680px;
    line-height: 136%;
    margin-bottom: 5%;
    text-align: center;
    margin: auto;
}

.content_home p.desc
{
    width: 686px;
    height: 124px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    margin: auto;
}

.content_home .button
{
    cursor: pointer;
    border: 2px solid #30BE76;
    border-radius: 8px;
    background-color: #30BE76;
    width: 197px;
    height: 50px;
    font-weight: 500;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px rgba(51, 125, 59, 0.03);
    text-decoration: none;
}

.content_home .button_center .button
{
    margin: auto;
    text-decoration: none;
}

.content_home .button:nth-child(2)
{
    margin: 10% auto;
}

.content_home .m-30
{
    margin-top: 30%;
}

.content_home .img_center
{
    display: flex;
    justify-content: center;
}
/*
        Page plant
*/

.content_infos 
{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    margin: 2% 10%;
}

.photo_and_title 
{
    width: 40%;
    margin-right: 5%;
}

.title_plan_add
{
    color: #A8A8A8;
    font-family: 'Rubik';
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}


.all_info 
{
    width: 50%;
    margin-top: 60px;
}

.favoris_infos_title
{
    font-family: 'Rubik';
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}

.all_infos_title
{
    font-family: 'Rubik';
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}
.img_plant_info 
{
    height: 30%;
    background-size: cover;
}

.informations
{
    margin-top: 20px;
}
.informations form 
{
    display: flex;
    flex-direction: column;
}

.label_input_inline
{
    background-color: white;
    width: 400px;
    height: 45px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.label_input_inline label
{
    margin-left: 10px;
    font-family: 'Rubik';
    font-size: 16px;
    text-transform: capitalize;
}

.label_input_inline input
{
    margin-left: 20px;
}

.label_input_inline input[type="submit"]
{
    border: 1px solid #30be76;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #30be76;
    color: white;
}

.favoriteInfo
{
    background-color: #fdfdfd;
    width: 400px;
    height: 50px;
    border: 1px solid #fdfdfd;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: black;
    font-family: 'Rubik';
    font-size: 16px;
    text-transform: capitalize;
}



.favoriteInfo button
{
    margin-left: 10px;
    border: none;
}

/*
404
*/
.notfound {
    font-size: 100px;
    text-align: center;
}

.notfound_desc {
    font-size: 25px;
    text-align: center;
}

.gif {
    text-align: center;
}